.booking-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}

.all-head {
    color: rgb(1, 1, 18);
   
    margin-top: 5px;
}

/* Style for the table */
.booking-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;
}

.Allbooking-table-header {
    background-color: #030335;
    padding: 10px;
    font-weight: bold;
    text-align: left;
    border: 1px solid #ddd;
    color: white;
}

.Allbooking-table-data {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
    vertical-align: middle;
}



.id-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 5px;
}
    
    /* Tablet */
@media (max-width:768px){
    .content {
        width: 100vw;
        padding: 10px;
    }
    .booking-list{
        padding: 0px;
    }
    .all-head {
        margin-top: 15px;
    }
    .booking-table {
        margin-top: 0px;
    }
    .Allbooking-table-header th {
        font-size: 14px;
    }
}
    /* Phones */
@media (max-width:667px) {
    .content{
        overflow-x: hidden;
    }
    .booking-list {
       
        overflow: auto;
    }

    .all-head {
       
        margin: 0px;
    }


    .booking-table {
        margin-left: auto;
        margin-top: 30px;
        overflow: auto;
    }

    .Allbooking-table-header th {
        
        font-size: 10px;
        
    }

    .Allbooking-table-data {
        padding: 0px;
        text-align: center;
        font-size: 11px;
    }

    .id-image {
        width: 50px;
        height: 50px;
        object-fit: cover;
        border-radius: 5px;
    }
}

@media (max-width:376px){
    .booking-list {
      
        overflow: auto;
    }
    .booking-table {
        width: 100%;
       
        overflow: auto;
    }
}